{% import "components/general.njk" as c %}

{% extends "content.njk" %}

{% block content %}
    
    <div class="article">

        {% if banner %}
            {{ c.banner(banner, title) }}
        {% endif %}

        <article class="article__content">

            {{ content | safe }}

        </article>

    </div>

{% endblock %}