{% import "components/general.njk" as c %}

{% extends "base.njk" %}

{% block main %}

    {{c.topSection({ title: title, description: description, linkUrl: linkUrl, linkText: linkText, goBackUrl: goBackUrl }) }}

    {% block content %} {{ content | safe }} {% endblock content %}

{% endblock main %}

