{% import "components/general.njk" as c %}

{% extends "content.njk" %}

{% block content %}
    
    <ul class="grid">

        {% for item in collections[data] %}
            <li>{{ c.card(item.data.cardImage, item.data.title, item.data.description, item.url) }}</li>
        {% endfor %}    

    </ul>

{% endblock %}