---
page_title: Blog
title: Interested in what we have to say?
tags: 
    - navigation
---

{% import "components/general.njk" as c %}

{% extends "grid.njk" %}

{% block content %}
    
    <ul class="grid">
        {% for blog in collections.blog %}
            <li>{{ c.card(blog.data.cardImage, blog.data.title, blog.data.title, blog.data.description, blog.url) }}</li>
        {% endfor %}    
    </ul>

{% endblock %}
