---
page_title: Contact
title: Get in touch, we’ll get back to you.
tags: 
    - navigation
order: 5
---

{% import "components/general.njk" as c %}

{% extends "content.njk" %}

{% block content %}
    
    <div class="section">
        <ul class="list_items">
            {% for item in contact %}
                {{ c.listItem("", item.value, item.title, item.url) }}
            {% endfor %}
        </ul>

        <div class="section__button">
            {{ c.button("mailto:info@clean.be", "Send us an email")}}
        </div>
    </div> 

    {{ c.banner("/assets/images/image-35.png", "Ghent") }}

{% endblock %}