---
page_title: Home
title: We’re Clean, but we get our hands dirty.
linkUrl: /projects
linkText: Our projects
tags: 
    - navigation
---

{% import "components/general.njk" as c %}

{% extends "content.njk" %}

{% block content %}

    {{ c.imageLayout("/assets/images/image-2.png", "Employees", "/assets/images/image-5.png", "Our office") }}

    <div>
        <h2>Our projects</h2>
        <ul>
            {% for project in collections.projects | limit(3) %}
                <p>{{ project.data.title }}</p>
            {% endfor %}
        </ul>
        {{ c.button("/projects", "See all projects") }}
    </div>

{% endblock content %}

