---
page_title: Home
title: We’re Clean, but we get our hands dirty.
linkUrl: /projects
linkText: Our projects
tags: 
    - navigation
---

{% extends "content.njk" %}

{% block content %}

    

    <p>This is a simple site to demonstrate how to use the <a href="https://11ty.dev">11ty</a> static site generator.</p>

{% endblock content %}

