---
page_title: Projects
title: We make digital experiences.
tags: 
    - navigation
---

{% extends "grid.njk" %}

{% block content %}
    
    <ul class="list">
        {% for projects in collections.projects %}
            <li><a href="{{ projects.url }}">{{ projects.data.title }}</a></li>
        {% endfor %}    
    </ul>

{% endblock %}