{% macro topSection(data) %}
    <div class="top_section">
        <div class="top_section__top">
            <h1 class="top_section__title">{{ data.title }}</h1>
            {% if data.linkUrl %}
                {% if  data.linkText %}
                    {{ button(data.linkUrl, data.linkText) }}
                {% endif %}
            {% endif %}
        </div>
        {% if data.description %}
            <p class="top_section__description">{{ data.description }}</p>
        {% endif %}
        {% if data.goBackUrl %}
            {{ buttonLink(data.goBackUrl, "Go back") }}
        {% endif %}
    </div>
{% endmacro %}

{% macro button(url, title) %}
    <a class="button" href="{{ url }}">{{ title }}</a>
{% endmacro %}

{% macro buttonLink(url, title) %}
    <a class="button_link" href="{{ url }}">{% if title %}<p>{{ title }}</p>{% endif %}</a>
{% endmacro %}

{% macro card(imageUrl, title, description, url) %}
    <div class="card">
        <div class="card__top">
            {% if url %}
                {{ buttonLink(url, "") }}
            {% endif %}
            <img class="card__image" src="/assets/images/{{ imageUrl }}" alt="{{ title }}">
        </div>
        <div class="card__content">
            <h2 class="card__title">{{ title }}</h2>
            <p class="card__description">{{ description }}</p>
        </div>
    </div>
{% endmacro %}

{% macro imageLayout(images) %}
    <div class="image_layout">
        {% for image in images %}
            <img src="/assets/images/{{ image.src }}" alt="{{ image.alt }}">
        {% endfor %}
    </div>
{% endmacro %}

{% macro listItem(date, left, right, url) %}
    
    <li class="list_item">
        <{% if url %}a href="{{ url }}"{% else %}div{% endif %} class="list_item__container">
            <div class="list_item__left">
                {% if date %}
                    <p class="list_item__date">{{ date  | customDate }}</p>
                {% endif %}
                <p class="list_item__left">{{ left }}</p>
            </div>
            <div class="list_item__right">
                <p class="list_item__right">{{ right }}</p>
            </div>
        </{% if url %}a{% else %}div{% endif %}>
    </li>

{% endmacro %}

{% macro banner(imageURL, title) %}
    <div class="banner">
        <img src="/assets/images/{{ imageURL }}" alt="{{ title }}">
    </div>
{% endmacro %}