{% macro topSection(data) %}
    <div class="topSection">
        <div class="topSection__top">
            <h1 class="topSection__title">{{ data.title }}</h1>
            {% if data.linkUrl %}
                {% if  data.linkText %}
                    {{ button(data.linkUrl, data.linkText) }}
                {% endif %}
            {% endif %}
        </div>
        {% if data.description %}
            <p class="topSection__description">{{ data.description }}</p>
        {% endif %}
        {% if data.goBackUrl %}
            {{ buttonLink(data.goBackUrl, "Go back") }}
        {% endif %}
    </div>
{% endmacro %}

{% macro button(url, title) %}
    <a class="button" href="{{ url }}">{{ title }}</a>
{% endmacro %}

{% macro buttonLink(url, title) %}
    <a class="buttonLink" href="{{ url }}">{% if title %}<p>{{ title }}</p>{% endif %}</a>
{% endmacro %}

{% macro card(imageUrl, imageAlt, title, description, url) %}
    <div class="card">
        <div class="card__top">
            {% if url %}
                {{ buttonLink(url, "") }}
            {% endif %}
            <img class="card__image" src="{{ imageUrl }}" alt="{{ imageAlt }}">
        </div>
        <div class="card__content">
            <h2 class="card__title">{{ title }}</h2>
            <p class="card__description">{{ description }}</p>
        </div>
    </div>
{% endmacro %}

{% macro imageLayout(img1, alt1, img2, alt2) %}
    <div class="imageLayout">
        <img src="{{ img1 }}" alt="{{ alt1 }}">
        <img src="{{ img2 }}" alt="{{ alt2 }}">
    </div>
{% endmacro %}

{% macro listItem(date, left, right, url) %}
    
    <li class="listItem">
        <{% if url %}a href="{{ url }}"{% else %}div{% endif %} class="listItem__container">
            <div class="listItem__left">
                {% if date %}
                    <p class="listItem__date">{{ date  | customDate }}</p>
                {% endif %}
                <p class="listItem__left">{{ left }}</p>
            </div>
            <div class="listItem__right">
                <p class="listItem__right">{{ right }}</p>
            </div>
        </{% if url %}a{% else %}div{% endif %}>
    </li>

{% endmacro %}

{% macro banner(imageURL, title) %}
    <div class="banner">
        <img src="{{ imageURL }}" alt="{{ title }}">
    </div>
{% endmacro %}